/* reset  */
* {
  /* Emmet */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}


.text-white{
    color: #fff !important;
}
.clear{
    clear: both;
}

#nav {
  display: inline-block;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46.4px;
  background-color: black;
}
#nav li {
  position: relative;
}
#nav > li {
  display: inline-block;
}
#nav,
#subnav {
  list-style-type: none;
}
#nav > li > a {
  color: white;
  text-transform: uppercase;
}
#nav li a {
  color: white;
  display: block;
  text-decoration: none;
  line-height: 46px;
  padding: 0 15px 0 15px;
}
#nav #subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
    
}
/* #nav li:hover a{
    color: #000;
    background-color: #ccc;
} */
#nav li:hover #subnav {
  display: block;
}
#nav #subnav {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px black;
  min-width: 150px;
  
}
#nav #subnav a {
  color: black;
  height: 100%;
  padding: 0 12px;
  line-height: 38px;
}
#header .search-button {
  color: white;
  font-size: 20px;
  float: right;
  line-height: 46px;
  padding: 0 21px;
}
#header .search-button:hover {
  background-color: red;
  padding: 0 21px;
  cursor: pointer;
}

#slider {
  margin-top: 46.4px;
  padding-top: 50%;
  /* 50% chiều ngang của chính nó */
  background: url("/assets/img/woman-3551832.jpg") top center / cover no-repeat;
}
#slider > .text-content {
  position: absolute;
  top: 80px;
  right: 20px;
  color: white;
}
#slider .text-heading {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}
#slider .text-description {
    margin-top: 25px;
  font-size: 15px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
}
#content .section-sub-heading{
    font-size: 16PX;
    margin: 20px 0 20px 0;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    text-align: justify;
    line-height: 1.6; 
    /* 1.4 english */
}
#content .section-heading,
#content .section-sub-heading{
    text-align: center;
}
#content .content-section{
    padding: 64px 0 64px 0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#content .members-list{
    margin-top: 48px;
    /* margin-bottom: 96px; */
    /* overflow: hidden; */
}
#content .member-name{
    margin-bottom: 15px;
    text-align: center;
}
#content .member-item{
    float: left;
    width: 33.3333%;
}
#content .member-item img{
    height:350px;
     width:250px;
     border-radius: 4px;
     border: 1px black solid
}
.tour-section{
    background-color: black;
    padding-bottom: 20px;
}

.tickets-list{
    background-color: white;
    margin-top: 40px;
}
.tickets-list li{
    font-size: 15px;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
}
.sold-out{
background-color: red;
color: #fff;
padding: 3px;
margin-left: 5px;
}
.quantity{
    background-color: black;
    color: white;
    border-radius: 50%;
    float: right;
    height: 24px;
    width: 24px;
    line-height: 24px;
   text-align: center;
}


#footer {
  text-align: center;
  padding: 20px;
}
.place-list{
  margin-top: 32px;
  margin-left: -9px;
  margin-right: -9px;
}
.place-item{
    float: left;
    width: 33.333333%;
    padding: 0 8px;
    /* border: 1px solid white;
    box-sizing: border-box; */
}
.place-img{
  height:300px;
  width:257px;
  /* margin-bottom: 15px; */
}
.place-body{
    /* color: white; */
   padding: 30px;
    background-color: white;

}
.place-heading{
margin-bottom: 17px;
}
.place-time{
opacity: 0.6;
margin-bottom: 17px;
}
.place-desc{
  margin-bottom:35px;
}
.place-buy-btn:hover{
  background-color: #ccc;
}
.place-buy-btn{
  padding: 9px;
  border: 1px solid black;
  background-color: black;
  color: white;
  text-decoration: none;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.open{
  display: flex;
}
.ti-bag{
  margin-right: 15px;
}
.modal-header{
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal-color:hover{
  background-color: white;
  color: #000;
  cursor: pointer;
  opacity: 1;
}
.modal-color{
  position: absolute;
  right: 0;
  color: white;
  padding: 7px;
  opacity: 0.7;
}
.modal-container{
  /* display: none; */
  /* display: flex; */
  position: relative;
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  animation: modalFaceIn ease .4s;
}
.modal-body{
  margin-left: 10%;

}
.modal-label{
  display: block;
  margin: 15px 0px ;
  font-weight: bold;
}
.modal-body input{
  height: 40px;
  width: 90%;
  opacity: 0.6;
  padding-left: 10px;
}
.modal-body button{
  display: block;
  margin-top: 16px;
  padding: 16px;
  width: 90%;
  background-color: #009688;
  color: #fff;
  border-color:#ccc;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}
.modal-body button:hover{
  background-color: #ccc;
  color: black
}
.modal-footer{
  position: relative;
  padding-top:60px;
  bottom: 30px;
  float: right;
  right: 15px;
  
}
.modal-footer a{
  text-decoration: none;
}
@keyframes modalFaceIn {
  from{
    opacity: 0;
    transform: translateY(-140px);
  }to{
    opacity: 1;
    transform: translateY(0);
  }
}
.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  margin-top: -20px;
  transform: translateY(-40px);
}
.contact-content{
  padding: 15px;
  margin-right: 15%;
  display: inline-block;
  font-size: 20px;
  margin-top: -35px;
}
.input{
  height: 40px;
  margin-top: 5px;
  padding:0 20px 0 20px;
}
.inputt .input-Mess {
display: block;
width: 100%;
height: 40px;
margin:10px 0 10px 0 ;
}
.inputt button{
  padding: 15px;
  background-color: #000;
  color: white;
  float: right;
}
.inputt button:hover{
  background-color: #ccc;
  color: #000;
}
.map-section img{
  width: 100%;
  height: 100%;
}
.socials-list{
  opacity: 0.9;
  color: #000;

}
.class-link{
  text-align: center;
  font-weight: bold;
   font-style: italic;
   font-size: 20px;
   color: red;
}
